 @import url(http://fonts.googleapis.com/css?family=Press+Start+2P);

.home-page {
  position: fixed;
  background-color: black;
  opacity: 1;
  width: 100%;
  height: 100%;
  z-index: 500;
  font-family: 'Press Start 2P', cursive;
  color: white;
  font-size: 35px;
  text-align: center;
  /*margin: -1000px;*/
}

.home-start {
  font-size: 70px;
  margin: 220px 0px 70px 0px;
}

.home-help {
  font-size: 35px;
  color:#C1C1C1
}

.home-about {
  font-size: 35px;
  color:#C1C1C1
}

.home-text {
  clear: both;
}

.food-home {
  float:left;
  display: block;
}

.each-food {
  box-sizing: border-box;
  display: inline-flex;
  width: 20px;
  height: 20px;
  margin: 40px -2px 0px 0px;
  background-color: #fff;
  border-radius: 5px;
}

.img-home {
 float: right;
 width: 100px;
 height: 100px;
 margin: 0px 150px 0px 0px;
}

.ghosts {
  float: left;
  margin: 0px 0px 0px 70px;
}
.img-home-ghosts {
 float: right;
 width: 90px;
 height: 90px;
 margin: 0px 0px 0px 0px;
}

.home-text:hover {
  color: #28AFFA;
  cursor: pointer;
  padding: 10px;

}

.title h1 {
  margin: 0px;
  padding: 0px;
}

.home-page h1 {
  font-size: 90px;
  margin: 40px;
  color: #FFF508;
  padding: 0px 100px 0px 100px;
}

.container {
  width: 825px;
  height: 500px;
  margin: 60px 80px;
}

.prizes img {
  display: inline;
  height: 50px;
  width: 50px;
  margin: 0px -12px 0px -5px;
}

.food {
  z-index: 0;
  border: 0px;
  height: 7px;
  width: 7px;
  margin: 9px 9px;
  /*background-image: url('img/coding.png');
  background-size: cover;
  background-repeat: no-repeat;*/
  background-color: #fff;
  border-radius: 10px;
}

.cell {
  background-size: contain;
  box-sizing: border-box;
  float: left;
  height: 25px;
  width: 25px;
  border: 0px;
}

.board {
  background-color: black;
  border: 0px;
  z-index: 1;
}

.menu {
  margin: 30px 67px;
}

.menu h4{
  color:#28AFFA;
  font-size: 18px;
}

.logo-ironpacker {
  height: 100px;
  margin: 0px 10px;
  border-bottom: 10px dotted #FFF;
}

.menu:hover {
  cursor: pointer;
}

.data-column {
  border: 10px dotted #fff;
  width: 200px;
  float: right;
  position: fixed;
  right: 0;
  margin: 0px 30px;
  font-family: 'Press Start 2P', cursive;
  color: #28AFFA;
  font-size: 23px;
  text-align: center;
  padding: 30px 0px 0px 0px;
}

.data-column h3 {
  margin: 15px 0px;
}

.players-points {
  /*border-bottom: 10px dotted #FFF;*/
}

.players-points h5 {
  font-size: 15px;
  line-height: 22px;
  color: #28AFFA;
  margin: 18px 10px;
}

.prizes {
  border-bottom: 10px dotted #fff;
  box-sizing: border-box;
  height: auto;
  padding: 10px 0px;
  margin: 0px 10px;
  color: #28AFFA;
}

.prizes h4 {
  margin: 15px 0px
}

#points {
    font-size: 40px;
    margin: 0px 10px;
    padding: 10px 0px 20px 0px;
    border-bottom: 10px dotted #fff;
}


.pacman-up {
  background-image: url('img/pacman-animated.gif');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transform: rotate(270deg);
  /*background-color: #FBCC3E;*/
}

.pacman-down {
  background-image: url('img/pacman-animated.gif');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transform: rotate(90deg);
  /*background-color: #FBCC3E;*/
}

.pacman-left {
  background-image: url('img/pacman-animated.gif');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transform: rotate(180deg);
  /*background-color: #FBCC3E;*/
}

.pacman-right {
  background-image: url('img/pacman-animated.gif');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  /*background-color: #FBCC3E;*/
}

.monster-blue {
  background-image: url('img/monster-blue.gif');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 2;
  background-color: black;
}

/*.cherry.food {
  background-image: none;
}

.apple.food {
  background-image: none;
}

.strawberry.food {
  background-image: none;
}*/

/*.cherry::before {
  content: "ghdh";
  background-image: url('img/cherry.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 25px;
  width: 25px;
}

.apple::before {
  content: "ghdh";
  background-image: url('img/apple.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 100;
  height: 25px;
  width: 25px;
}

.strawberry:before {
  content: "ghdh";
  background-image: url('img/strawberry.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 100;
  height: 25px;
  width: 25px;
}*/

.cherry {
  background-image: url('img/cherry.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 25px;
  width: 25px;
}

.apple {
  background-image: url('img/apple.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 100;
  height: 25px;
  width: 25px;
}

.strawberry {
  background-image: url('img/strawberry.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 100;
  height: 25px;
  width: 25px;
}

.monster-yellow {
  background-image: url('img/monster-yellow.gif');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 2;
  background-color: black;
}

.monster-red {
  background-image: url('img/monster-red.gif');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 2;
  background-color: black;
}

.monster-scared {
  background-image: url('img/ghost-scared.gif');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 2;
  background-color: black;
}

.title img {
  display: inline;
  margin: 20px 0px 0px 10px;
}

.title {
  margin: 0px 0px 0px 300px;
}

body {
  background-color: black;
  margin: 0px;
}

#player1-resume {
  position: fixed;
  border-radius: 0px;
  width: 100%;
  height: 100%;
  margin: 0px auto;
  background-color: #fff;
  opacity: 0.92;
  z-index: 100;
  font-family: 'Press Start 2P', cursive;
  color: black;
  font-size: 23px;
  text-align: center;
  margin: -1000px;
}

#play-again {
  color: #fff;
  cursor: pointer;
  display: block;
  background-color: #28AFFA;
  font-family: 'Press Start 2P', cursive;
  color: white;
  font-size: 23px;
  text-align: center;
  margin: 50px 37%;
  padding: 30px;
  border-radius: 4px;
  border: 0px;
  opacity: 1;
}

.hack {
  position:absolute;
  color: #fff;
  font-family: 'Press Start 2P', cursive;
  font-size: 40px;
  margin: 50px 0px 0px -97px;
  padding: 20px 20px;
  font-weight: normal;
}

.iron {
  position:absolute;
  color: #fff;
  font-family: 'Press Start 2P', cursive;
  font-size: 40px;
  padding: 20px 18px;
  margin: 0px -100px;
  font-weight: bold;
}

.hexagon-container {
  margin: 20px 42%;
}

.hexagon {
  position: relative;
  width: 200px;
  height: 115.47px;
  background-color: #28AFFA;
  margin: 57.74px 0;
}

.hexagon:before,
.hexagon:after {
  content: "";
  position: absolute;
  width: 0;
  border-left: 100px solid transparent;
  border-right: 100px solid transparent;
  margin: 0px -100px;
}

.hexagon:before {
  bottom: 100%;
  border-bottom: 57.74px solid #28AFFA;
}

.hexagon:after {
  top: 100%;
  width: 0;
  border-top: 57.74px solid #28AFFA;
}


#points-game-resume-player1, #points-game-resume-player2 {
  font-family: 'Press Start 2P', cursive;
  color: #28AFFA;
  font-size: 23px;
}

#resume-message{
  margin: 0px;
  margin: 70px 130px 0px 130px;
  line-height: 50px;
  }

#ass-kick{
  color: red;
  margin: 0px 0px 100px 0px;
  padding: 0px;
  align-items: left;
}

#game-resume {
  position: fixed;
  border-radius: 0px;
  width: 100%;
  height: 100%;
  margin: 0px auto;
  background-color: #000;
  opacity: 1;
  z-index: 100;
  font-family: 'Press Start 2P', cursive;
  color: white;
  font-size: 40px;
  line-height: 45px;
  text-align: center;
  margin: -1000px;
}

.show-resume {
  margin: 0px;
}

#player1-resume div {
  border: 18px dotted #28AFFA;
  box-sizing: border-box;
  margin: 8% 25%;
  width: 50%;
  height: auto;
  padding: 50px;
}

#player1-resume button {
  color: #fff;
  background-color: #28AFFA;
  font-family: 'Press Start 2P', cursive;
  color: white;
  font-size: 23px;
  text-align: center;
  padding: 30px;
  border-radius: 4px;
  border: 0px;
  opacity: 1;
  cursor: pointer;
}

.obstacle {
  background-color: #28AFFA;

}

.top-left{
  background-color: #00487C;
  border: 2px solid #00487C;
  border-top-left-radius: 10px;
}

.top-right{
  background-color: #00487C;
  border: 2px solid #00487C;
  border-top-right-radius: 10px;
}

.bottom-left{
  background-color: #00487C;
  border: 2px solid #00487C;
  border-bottom-left-radius: 10px;
}

.bottom-right{
  background-color: #00487C;
  border: 2px solid #00487C;
  border-bottom-right-radius: 10px;
}

.outside-border {
  background-color:#00487C;
}
